In [69]:
import pandas as pd
import numpy as np

data = pd.read_csv('../data/sleep_wake.csv')
data.set_index('Date', inplace=True, drop=True)
data.index=pd.to_datetime(data.index, dayfirst=False)
data = data.iloc[:, 0:2]
data['Sleep_time'] = [entry[0] + pd.DateOffset(minutes=entry[1], hours=22) for entry in zip(data.index, data['Sleep'])]
data['Wake_time'] = [entry[0] + pd.DateOffset(minutes=entry[1], hours=6) for entry in zip(data.index, data['Wake'])]

data

            Sleep  Wake          Sleep_time           Wake_time
Date
2017-12-01     16     1 2017-12-01 22:16:00 2017-12-01 06:01:00
2017-12-02     19   -10 2017-12-02 22:19:00 2017-12-02 05:50:00
2017-12-03    -45     0 2017-12-03 21:15:00 2017-12-03 06:00:00
2017-12-04      8     1 2017-12-04 22:08:00 2017-12-04 06:01:00
2017-12-05    -23   -16 2017-12-05 21:37:00 2017-12-05 05:44:00
2017-12-06    -53    -3 2017-12-06 21:07:00 2017-12-06 05:57:00
2017-12-07     21    -1 2017-12-07 22:21:00 2017-12-07 05:59:00
2017-12-08    -17     1 2017-12-08 21:43:00 2017-12-08 06:01:00
2017-12-09     20   101 2017-12-09 22:20:00 2017-12-09 07:41:00
2017-12-10     19    -1 2017-12-10 22:19:00 2017-12-10 05:59:00
2017-12-11      8     1 2017-12-11 22:08:00 2017-12-11 06:01:00
2017-12-12     19     1 2017-12-12 22:19:00 2017-12-12 06:01:00
2017-12-13      9     1 2017-12-13 22:09:00 2017-12-13 06:01:00
2017-12-14     26    -4 2017-12-14 22:26:00 2017-12-14 05:56:00
2017-12-15     29    -9 2017-12-15 22:29:00 2017-12-15 05:51:00
2017-12-16     19    -7 2017-12-16 22:19:00 2017-12-16 05:53:00
2017-12-17     11    57 2017-12-17 22:11:00 2017-12-17 06:57:00
2017-12-18     46    -3 2017-12-18 22:46:00 2017-12-18 05:57:00
2017-12-19    -39    -7 2017-12-19 21:21:00 2017-12-19 05:53:00
2017-12-20     68     0 2017-12-20 23:08:00 2017-12-20 06:00:00
2017-12-21     34     1 2017-12-21 22:34:00 2017-12-21 06:01:00
2017-12-22     10     0 2017-12-22 22:10:00 2017-12-22 06:00:00
2017-12-23     15     1 2017-12-23 22:15:00 2017-12-23 06:01:00
2017-12-24     46     1 2017-12-24 22:46:00 2017-12-24 06:01:00
2017-12-25     48    -8 2017-12-25 22:48:00 2017-12-25 05:52:00
2017-12-26      9     1 2017-12-26 22:09:00 2017-12-26 06:01:00
2017-12-27    -17   122 2017-12-27 21:43:00 2017-12-27 08:02:00
2017-12-28     15     1 2017-12-28 22:15:00 2017-12-28 06:01:00
2017-12-29     -1    58 2017-12-29 21:59:00 2017-12-29 06:58:00
2017-12-30     -7   128 2017-12-30 21:53:00 2017-12-30 08:08:00
...           ...   ...                 ...                 ...
2018-01-04     -5    25 2018-01-04 21:55:00 2018-01-04 06:25:00
2018-01-05     11   -10 2018-01-05 22:11:00 2018-01-05 05:50:00
2018-01-06     20    60 2018-01-06 22:20:00 2018-01-06 07:00:00
2018-01-07     27     1 2018-01-07 22:27:00 2018-01-07 06:01:00
2018-01-08     44     1 2018-01-08 22:44:00 2018-01-08 06:01:00
2018-01-09     52   108 2018-01-09 22:52:00 2018-01-09 07:48:00
2018-01-10     87     1 2018-01-10 23:27:00 2018-01-10 06:01:00
2018-01-11     23     0 2018-01-11 22:23:00 2018-01-11 06:00:00
2018-01-12     44     1 2018-01-12 22:44:00 2018-01-12 06:01:00
2018-01-13    -44     1 2018-01-13 21:16:00 2018-01-13 06:01:00
2018-01-14     41     1 2018-01-14 22:41:00 2018-01-14 06:01:00
2018-01-15     10     0 2018-01-15 22:10:00 2018-01-15 06:00:00
2018-01-16      8     0 2018-01-16 22:08:00 2018-01-16 06:00:00
2018-01-17    -10    -3 2018-01-17 21:50:00 2018-01-17 05:57:00
2018-01-18     43    -5 2018-01-18 22:43:00 2018-01-18 05:55:00
2018-01-19     21    -7 2018-01-19 22:21:00 2018-01-19 05:53:00
2018-01-20     14   140 2018-01-20 22:14:00 2018-01-20 08:20:00
2018-01-21     25   -57 2018-01-21 22:25:00 2018-01-21 05:03:00
2018-01-22     19    -1 2018-01-22 22:19:00 2018-01-22 05:59:00
2018-01-23     48     1 2018-01-23 22:48:00 2018-01-23 06:01:00
2018-01-24      3    -1 2018-01-24 22:03:00 2018-01-24 05:59:00
2018-01-25    -13    -6 2018-01-25 21:47:00 2018-01-25 05:54:00
2018-01-26     53     1 2018-01-26 22:53:00 2018-01-26 06:01:00
2018-01-27     42   195 2018-01-27 22:42:00 2018-01-27 09:15:00
2018-01-28      9   -29 2018-01-28 22:09:00 2018-01-28 05:31:00
2018-01-29    -14     0 2018-01-29 21:46:00 2018-01-29 06:00:00
2018-01-30     -1    -1 2018-01-30 21:59:00 2018-01-30 05:59:00
2018-01-31     10     1 2018-01-31 22:10:00 2018-01-31 06:01:00
2018-02-01      0   -18 2018-02-01 22:00:00 2018-02-01 05:42:00
2018-02-02    -25     1 2018-02-02 21:35:00 2018-02-02 06:01:00

[64 rows x 4 columns]

In [75]:
# Create a separate sleep dataframe
sleep_index = pd.date_range(start=min(data.index), end=max(data.index), freq='60S')
sleep_index = [time for time in sleep_index if (time.hour >= 21) & (time.hour <= 23)]
sleep_data = pd.DataFrame(0, columns=['indicator'], index=sleep_index)

sleep_data

                     indicator
2017-12-01 21:00:00          0
2017-12-01 21:01:00          0
2017-12-01 21:02:00          0
2017-12-01 21:03:00          0
2017-12-01 21:04:00          0
2017-12-01 21:05:00          0
2017-12-01 21:06:00          0
2017-12-01 21:07:00          0
2017-12-01 21:08:00          0
2017-12-01 21:09:00          0
2017-12-01 21:10:00          0
2017-12-01 21:11:00          0
2017-12-01 21:12:00          0
2017-12-01 21:13:00          0
2017-12-01 21:14:00          0
2017-12-01 21:15:00          0
2017-12-01 21:16:00          0
2017-12-01 21:17:00          0
2017-12-01 21:18:00          0
2017-12-01 21:19:00          0
2017-12-01 21:20:00          0
2017-12-01 21:21:00          0
2017-12-01 21:22:00          0
2017-12-01 21:23:00          0
2017-12-01 21:24:00          0
2017-12-01 21:25:00          0
2017-12-01 21:26:00          0
2017-12-01 21:27:00          0
2017-12-01 21:28:00          0
2017-12-01 21:29:00          0
...                        ...
2018-02-01 23:30:00          0
2018-02-01 23:31:00          0
2018-02-01 23:32:00          0
2018-02-01 23:33:00          0
2018-02-01 23:34:00          0
2018-02-01 23:35:00          0
2018-02-01 23:36:00          0
2018-02-01 23:37:00          0
2018-02-01 23:38:00          0
2018-02-01 23:39:00          0
2018-02-01 23:40:00          0
2018-02-01 23:41:00          0
2018-02-01 23:42:00          0
2018-02-01 23:43:00          0
2018-02-01 23:44:00          0
2018-02-01 23:45:00          0
2018-02-01 23:46:00          0
2018-02-01 23:47:00          0
2018-02-01 23:48:00          0
2018-02-01 23:49:00          0
2018-02-01 23:50:00          0
2018-02-01 23:51:00          0
2018-02-01 23:52:00          0
2018-02-01 23:53:00          0
2018-02-01 23:54:00          0
2018-02-01 23:55:00          0
2018-02-01 23:56:00          0
2018-02-01 23:57:00          0
2018-02-01 23:58:00          0
2018-02-01 23:59:00          0

[11340 rows x 1 columns]

In [86]:
# Set an index with an indicator for times when I am asleep
# Indicator = 1 when I am asleep, else 0
for time in sleep_data.index:
    for sleep_time in data['Sleep_time']:
        if time == sleep_time:
            selected_date = time.date()
            date_subset = [date for date in sleep_data.index if date.date() == selected_date]
            asleep_times = [time for time in date_subset if time.time() >= sleep_time.time()]
            sleep_data.ix[asleep_times, 'indicator'] = 1

sleep_data

                     indicator
2017-12-01 21:00:00          0
2017-12-01 21:01:00          0
2017-12-01 21:02:00          0
2017-12-01 21:03:00          0
2017-12-01 21:04:00          0
2017-12-01 21:05:00          0
2017-12-01 21:06:00          0
2017-12-01 21:07:00          0
2017-12-01 21:08:00          0
2017-12-01 21:09:00          0
2017-12-01 21:10:00          0
2017-12-01 21:11:00          0
2017-12-01 21:12:00          0
2017-12-01 21:13:00          0
2017-12-01 21:14:00          0
2017-12-01 21:15:00          0
2017-12-01 21:16:00          0
2017-12-01 21:17:00          0
2017-12-01 21:18:00          0
2017-12-01 21:19:00          0
2017-12-01 21:20:00          0
2017-12-01 21:21:00          0
2017-12-01 21:22:00          0
2017-12-01 21:23:00          0
2017-12-01 21:24:00          0
2017-12-01 21:25:00          0
2017-12-01 21:26:00          0
2017-12-01 21:27:00          0
2017-12-01 21:28:00          0
2017-12-01 21:29:00          0
...                        ...
2018-02-01 23:30:00          1
2018-02-01 23:31:00          1
2018-02-01 23:32:00          1
2018-02-01 23:33:00          1
2018-02-01 23:34:00          1
2018-02-01 23:35:00          1
2018-02-01 23:36:00          1
2018-02-01 23:37:00          1
2018-02-01 23:38:00          1
2018-02-01 23:39:00          1
2018-02-01 23:40:00          1
2018-02-01 23:41:00          1
2018-02-01 23:42:00          1
2018-02-01 23:43:00          1
2018-02-01 23:44:00          1
2018-02-01 23:45:00          1
2018-02-01 23:46:00          1
2018-02-01 23:47:00          1
2018-02-01 23:48:00          1
2018-02-01 23:49:00          1
2018-02-01 23:50:00          1
2018-02-01 23:51:00          1
2018-02-01 23:52:00          1
2018-02-01 23:53:00          1
2018-02-01 23:54:00          1
2018-02-01 23:55:00          1
2018-02-01 23:56:00          1
2018-02-01 23:57:00          1
2018-02-01 23:58:00          1
2018-02-01 23:59:00          1

[11340 rows x 1 columns]

In [87]:
# Create a separate wake dataframe
wake_index=pd.date_range(start=min(data.index), end=max(data.index), freq='60S')
wake_index = [time for time in wake_index if (time.hour <= 7) & (time.hour >= 5)]
wake_data = pd.DataFrame(1, columns=['indicator'], index=wake_index)

# Set an index with indicator for times when I am asleep
# Indicator = 1 when I am asleep, else 0
for time in wake_data.index:
    for wake_time in data['Wake_time']:
        if time == wake_time:
            selected_date = time.date()
            date_subset = [date for date in wake_data.index if date.date() == selected_date]
            wake_times = [time for time in date_subset if time.time() >= wake_time.time()]
            wake_data.ix[wake_times, 'indicator'] = 0

wake_data

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

                     indicator
2017-12-01 05:00:00          1
2017-12-01 05:01:00          1
2017-12-01 05:02:00          1
2017-12-01 05:03:00          1
2017-12-01 05:04:00          1
2017-12-01 05:05:00          1
2017-12-01 05:06:00          1
2017-12-01 05:07:00          1
2017-12-01 05:08:00          1
2017-12-01 05:09:00          1
2017-12-01 05:10:00          1
2017-12-01 05:11:00          1
2017-12-01 05:12:00          1
2017-12-01 05:13:00          1
2017-12-01 05:14:00          1
2017-12-01 05:15:00          1
2017-12-01 05:16:00          1
2017-12-01 05:17:00          1
2017-12-01 05:18:00          1
2017-12-01 05:19:00          1
2017-12-01 05:20:00          1
2017-12-01 05:21:00          1
2017-12-01 05:22:00          1
2017-12-01 05:23:00          1
2017-12-01 05:24:00          1
2017-12-01 05:25:00          1
2017-12-01 05:26:00          1
2017-12-01 05:27:00          1
2017-12-01 05:28:00          1
2017-12-01 05:29:00          1
...                        ...
2018-02-01 07:30:00          0
2018-02-01 07:31:00          0
2018-02-01 07:32:00          0
2018-02-01 07:33:00          0
2018-02-01 07:34:00          0
2018-02-01 07:35:00          0
2018-02-01 07:36:00          0
2018-02-01 07:37:00          0
2018-02-01 07:38:00          0
2018-02-01 07:39:00          0
2018-02-01 07:40:00          0
2018-02-01 07:41:00          0
2018-02-01 07:42:00          0
2018-02-01 07:43:00          0
2018-02-01 07:44:00          0
2018-02-01 07:45:00          0
2018-02-01 07:46:00          0
2018-02-01 07:47:00          0
2018-02-01 07:48:00          0
2018-02-01 07:49:00          0
2018-02-01 07:50:00          0
2018-02-01 07:51:00          0
2018-02-01 07:52:00          0
2018-02-01 07:53:00          0
2018-02-01 07:54:00          0
2018-02-01 07:55:00          0
2018-02-01 07:56:00          0
2018-02-01 07:57:00          0
2018-02-01 07:58:00          0
2018-02-01 07:59:00          0

[11340 rows x 1 columns]

In [88]:
# Time offset column 
# For sleep, offset from 10:00 PM
sleep_data['time_offset'] = [int((time.hour * 60 + time.minute) - (22 * 60)) for time in sleep_data.index]
# For wake, offset from 6:00 AM
wake_data['time_offset'] = [int((time.hour * 60 + time.minute) - (6 * 60)) for time in wake_data.index]

In [89]:
sleep_data

                     indicator  time_offset
2017-12-01 21:00:00          0          -60
2017-12-01 21:01:00          0          -59
2017-12-01 21:02:00          0          -58
2017-12-01 21:03:00          0          -57
2017-12-01 21:04:00          0          -56
2017-12-01 21:05:00          0          -55
2017-12-01 21:06:00          0          -54
2017-12-01 21:07:00          0          -53
2017-12-01 21:08:00          0          -52
2017-12-01 21:09:00          0          -51
2017-12-01 21:10:00          0          -50
2017-12-01 21:11:00          0          -49
2017-12-01 21:12:00          0          -48
2017-12-01 21:13:00          0          -47
2017-12-01 21:14:00          0          -46
2017-12-01 21:15:00          0          -45
2017-12-01 21:16:00          0          -44
2017-12-01 21:17:00          0          -43
2017-12-01 21:18:00          0          -42
2017-12-01 21:19:00          0          -41
2017-12-01 21:20:00          0          -40
2017-12-01 21:21:00          0          -39
2017-12-01 21:22:00          0          -38
2017-12-01 21:23:00          0          -37
2017-12-01 21:24:00          0          -36
2017-12-01 21:25:00          0          -35
2017-12-01 21:26:00          0          -34
2017-12-01 21:27:00          0          -33
2017-12-01 21:28:00          0          -32
2017-12-01 21:29:00          0          -31
...                        ...          ...
2018-02-01 23:30:00          1           90
2018-02-01 23:31:00          1           91
2018-02-01 23:32:00          1           92
2018-02-01 23:33:00          1           93
2018-02-01 23:34:00          1           94
2018-02-01 23:35:00          1           95
2018-02-01 23:36:00          1           96
2018-02-01 23:37:00          1           97
2018-02-01 23:38:00          1           98
2018-02-01 23:39:00          1           99
2018-02-01 23:40:00          1          100
2018-02-01 23:41:00          1          101
2018-02-01 23:42:00          1          102
2018-02-01 23:43:00          1          103
2018-02-01 23:44:00          1          104
2018-02-01 23:45:00          1          105
2018-02-01 23:46:00          1          106
2018-02-01 23:47:00          1          107
2018-02-01 23:48:00          1          108
2018-02-01 23:49:00          1          109
2018-02-01 23:50:00          1          110
2018-02-01 23:51:00          1          111
2018-02-01 23:52:00          1          112
2018-02-01 23:53:00          1          113
2018-02-01 23:54:00          1          114
2018-02-01 23:55:00          1          115
2018-02-01 23:56:00          1          116
2018-02-01 23:57:00          1          117
2018-02-01 23:58:00          1          118
2018-02-01 23:59:00          1          119

[11340 rows x 2 columns]